body {
    background-color: #003049;
}

/* TÜM KUTULARDA ORTAK */
.kutu {
    background-color: #669bbc;
    margin: 0 auto;
    border: solid 5px #fdf0d5;
    border-radius: 50px;
    text-align: center;
}

/* ANA SAYFA */

.tanim1 {
    width: 500px;
    height: 120px;
}

.tanim2 {
    width: 500px;
    height: 300px;
    margin-top: 30px;
}

.ileri {
    width: 60px;
    margin-top: 30px;
}

.harita {
    width: 500px;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}

.harita th,
.harita td {
    border: 1px solid #fdf0d5;
}

/* PROJELER SAYFASI */

.GenesisTanim {
    width: 500px;
    height: 120px;
    margin-top: 30px;
    padding-top: 15px;
}

.projelerim {
    width: 230px;
    height: 30px;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gökbörü {
    width: 500px;
    height: 110px;
    margin-top: 30px;
}

.yazilim {
    width: 450px;
    height: 90px;
    padding-top: 15px;
    margin-top: 30px;
}

.yayincilik {
    width: 450px;
    height: 75px;
    padding-top: 15px;
    margin-top: 30px;
}

.ileriev {
    width: 150px;
    margin-top: 30px;
}
